<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flash messages example</title>
</head>

<body>
  <% messages.forEach(function(message){ %>
  <p>
    <%= message %>
  </p>
  <% }); %>
  <a href="/flash">Set flash message</a>
</body>

</html>